body{
    background-color: rgb(201, 190, 211);
}

#dog{
    color: rgb(78, 23, 66);
    font-size: 60px;
    text-align: center;
    text-decoration:underline;
    font-family:cursive;
}

p{
    color: rgb(92, 76, 107);
    font-size: 40px;
}

div p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.raças{
    color: white;
    font-size: 30px;
    
}

.raças:hover{
    color: darkmagenta;
}
