body{
    background-color: rgb(177, 155, 177);
    font-family:"Cactus Classical Serif", serif;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-size: 65px;
    color: rgb(90, 36, 90);
}

.tabela{
    border: 2px solid rgb(90, 36, 90);
    margin-left: 810px;
    margin-top: 100px;
}

.links{
    color: rgb(90, 36, 90);
}

.links:hover{
    color: white;
}