<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Blog</title>
        <link rel="stylesheet" href="/Aula11/Lab9/estilo.css">
    </head>
    <body>
        <h1>Blog</h1>

        <form action="/criar_post" method="get">
            <input type="submit" value="Criar Novo Post">
        </form>
        
        <div class="blog">
            <% if (posts.length > 0) { %>
            <% for (var i = 0; i < posts.length; i++) { %>
            <div class="post">
                <h2><%= posts[i].db_titulo %></h2>
                <p><strong>Resumo:</strong> <%= posts[i].db_resumo %></p>
                <p><strong>Conteúdo:</strong> <%= posts[i].db_conteudo %></p>
            </div>
            <hr>
            <% } %>
        <% } else { %>
            <p>Nenhum post cadastrado ainda.</p>
        <% } %>
        
        </div>
    </body>

</html>
