<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <meta charset="UTF-8">
    <title>Carros</title>
    <link rel="stylesheet" href="/Aula12/Lab10/estilo.css">
    </head>
    <body>

    <% if (status == "sucesso") { %>
        <h2>cadastrado com sucesso!</h2>
    <% } else { %>
        <h2>Erro ao cadastrar.</h2>
    <% } %>

   
    
    </body>
</html>
