<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Status do Login</title>
        <link rel="stylesheet" href="/Aula10/Lab8/estilo.css">

    </head>
    <body>
        <div class="login">
            <h1><%= status %></h1>
        </div>
    </body>
</html>