<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/Aula11/Lab9/estilo.css">
    </head>
    <body>

    <% if (status == "sucesso") { %>
        <h2>Post cadastrado com sucesso!</h2>
    <% } else { %>
        <h2>Erro ao cadastrar o post.</h2>
    <% } %>

    <a href="/blog">Home</a>
    
    </body>
</html>
