<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Carros</title>
        <link rel="stylesheet" href="/Aula12/Lab10/estilo.css">
    </head>
    <body>

    <p> <%= resposta %></p>

    <a href="Aula12/Lab10/Projects.html">Voltar</a>
    
    </body>
</html>